body {
    font-family: 'Oswald', sans-serif;
    background-color: aquamarine;
}

h2 {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}